body {

    color: white;
    background-color: #2727ff;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 55px;
    line-height: 45px;
}

h1 strong {
    color: #00e5fc;
    color: yellow;

}

header ul il a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

header ul {
    list-style: none;
    padding-left: 0;

}

header ul li {
    display: inline;
}

header,
main,
footer {

    width: 1120px;
    margin: 0 auto; /*centralizar na página*/
    /*border: dotted yellow;*/
}

footer {
    background: #00e5fc;
}

/*estilazação do layout*/

section{
    box-sizing: border-box;
    float: left;
}

.secao-conteudo{
    width: 80%;
}

.secao-imagem{
    width: 20px;
}

header{
    background: pink;
    padding: 12px 0 12px;
}

footer{
    float: left;
    height: 50px;
}